.mediaViewInfo {
	--web-view-name: Web 1920 – 26;
	--web-view-id: Web_1920__26;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: fit;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Web_1920__26;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    font-style: italic;
}
#Web_1920__26 {
	position: absolute;
	width: 1920px;
	height: 1080px;
	background-color: rgba(0,0,0,1);
	overflow: hidden;
	--web-view-name: Web 1920 – 26;
	--web-view-id: Web_1920__26;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: fit;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
#Rectangle_48 {
	fill: rgba(0,0,0,1);
}
.Rectangle_48 {
	position: absolute;
	overflow: visible;
	width: 2201px;
	height: 454px;
	left: -245px;
	top: 944px;
}
#rearrange {
	left: 380px;
	top: 501px;
	position: absolute;
	overflow: visible;
	width: 335px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 70px;
	color: rgba(221,200,86,1);
	letter-spacing: 0.2px;
}
#next {
	left: 1258px;
	top: 501px;
	position: absolute;
	overflow: visible;
	width: 153px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 70px;
	color: rgba(221,200,86,1);
	letter-spacing: 0.2px;
}
