.mediaViewInfo {
	--web-view-name: Web 1920 – 25;
	--web-view-id: Web_1920__25;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: fit;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Web_1920__25;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Web_1920__25 {
	position: absolute;
	width: 1920px;
	height: 1080px;
	background-color: rgba(0,0,0,1);
	overflow: hidden;
	--web-view-name: Web 1920 – 25;
	--web-view-id: Web_1920__25;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: fit;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
#papier_buildamountain {
	position: absolute;
	width: 447px;
	height: 626px;
	left: 737px;
	top: 227px;
	overflow: visible;
}
#eC1zwi1ORPK1TrTqs29w_Mountain_ {
	position: absolute;
	width: 475px;
	height: 672px;
	left: 210px;
	top: 377px;
	overflow: visible;
}
#ID5gWsc14nQmdXJgTrYA6U_onthemo {
	position: absolute;
	width: 377.5px;
	height: 566px;
	left: 1211px;
	top: 257px;
	overflow: visible;
}
#mountain {
	position: absolute;
	width: 628.5px;
	height: 444px;
	left: 737px;
	top: 601px;
	overflow: visible;
}
#MbE4f7RivYhdIQuAUPQI_Schermafb {
	position: absolute;
	width: 1030px;
	height: 583px;
	left: 170px;
	top: 462px;
	overflow: visible;
}
#mountain7 {
	position: absolute;
	width: 678px;
	height: 380px;
	left: 1061px;
	top: 700px;
	overflow: visible;
}
#kleiverf_buildamountain {
	position: absolute;
	width: 569px;
	height: 853px;
	left: 384px;
	top: 227px;
	overflow: visible;
}
#stokjes {
	position: absolute;
	width: 651px;
	height: 976px;
	left: 975px;
	top: 104px;
	overflow: visible;
}
#eZHdq0znQ3OhXShpccIQ_personalm {
	position: absolute;
	width: 646px;
	height: 637px;
	left: 1303px;
	top: 540px;
	overflow: visible;
}
#Schermafbeelding_2020-06-02_om {
	position: absolute;
	width: 385px;
	height: 313px;
	left: 145px;
	top: 288px;
	overflow: visible;
}
#wgV9MlJRM6Bz9PiO3ifA_Mountain_ {
	position: absolute;
	width: 941px;
	height: 664px;
	left: 685px;
	top: 416px;
	overflow: visible;
}
#lZzhL86OSy2qgQ9q2xsr_color_mou {
	position: absolute;
	width: 468px;
	height: 666px;
	left: 688px;
	top: 414px;
	overflow: visible;
}
#mr4uwSMCT6SpaKt0jQjt_first_cli {
	position: absolute;
	width: 1168px;
	height: 334px;
	left: 133px;
	top: 540px;
	overflow: visible;
}
#Rectangle_49 {
	fill: rgba(255,255,255,1);
}
.Rectangle_49 {
	position: absolute;
	overflow: visible;
	width: 1071px;
	height: 91px;
	left: 170px;
	top: 575px;
}
#Rectangle_50 {
	fill: rgba(255,255,255,1);
}
.Rectangle_50 {
	position: absolute;
	overflow: visible;
	width: 111px;
	height: 191px;
	left: 183px;
	top: 654px;
}
#Rectangle_51 {
	fill: rgba(255,255,255,1);
}
.Rectangle_51 {
	position: absolute;
	overflow: visible;
	width: 993px;
	height: 121px;
	left: 255px;
	top: 713px;
}
#Rectangle_52 {
	fill: rgba(255,255,255,1);
}
.Rectangle_52 {
	position: absolute;
	overflow: visible;
	width: 368px;
	height: 82px;
	left: 873px;
	top: 654px;
}